*{
    -fx-font-family: Roboto;
    /*clor de menu*/
    -fx-base-color-button: #E1F5FE;
    -fx-base-color-button-mantenimiento: #FAFAFA;
    -fx-base-color-button-inicio: #b71c1c;
    -fx-base-color-hover-button: #388E3C;
    -xf-base-color-rippler-button: #009688;
    -fx-base-color-apMenuP: #1A237E;
    -fx-base-color-apMenuJ: #3F51B5;
    -fx-base-color-vbox-partida: #4FC3F7;
    -fx-base-color-vbox-fichas: #F0FFF0;
    -fx-base-color-vbox-marcador:#2E7D32;
    -fx-base-color-vbox-marcador-tiempo:#1E88E5;
    -fx-base-color-hbox-Inicio: #B2DFDB;
    -fx-base-color-focus-text-field: #FAFAFA;
    -fx-base-color-unfocus-text-field: #212121;
    -fx-base-color-text-fill: #FAFAFA;
    -fx-base-color-AnchorPane: #004D40;
    -fx-base-color-AnchorPane-modoJuegoJugador: #206DDC;
    -fx-base-color-AnchorPane-modoJuegoRival: #1A8113;
    -fx-base-color-AnchorPane-ayuda: #4CAF50;
    -fx-base-color-AnchorPane-espera: #2F6D2BBb;
    -fx-base-color-Label: #FAFAFA;
    -fx-base-color-Inicio: #212121;
    -fx-base-color-menu:#004D40;
    -fx-base-color-focus-checkbox: #b71c1c;
    -fx-base-color-text-checkbox: #FAFAFA;
}
/*parte de los menus*/ 
.jfx-button{
    -jfx-button-type: RAISED;
    -fx-background-color:-fx-base-color-button;
    -fx-background-radius: 10;
    -fx-content-display: left;
    /*    -fx-alignment: CENTER_LEFT;*/
    -fx-alignment: CENTER;
}
.jfx-button:hover{
    -fx-background-color: -fx-base-color-hover-button;

}
.jfx-button-mantenimiento{
    -jfx-button-type: RAISED;
    -fx-background-color:-fx-base-color-button-mantenimiento;
    -fx-background-radius: 10;
    -fx-content-display: left;
    -fx-alignment: CENTER_LEFT;
}

.StackPane-Inicio > ImageView{
    -fx-Image :url("../resources/tierra.jpg")
}

.AnchorPane-Inicio > ImageView{
    -fx-Image :url("../resources/corona3.png")
}
.AnchorPane-Cargando > ImageView{
    -fx-Image :url("../resources/corAnimado.png")
}
.AnchorPane-ModoJuegoJugador > ImageView{
    -fx-background-color: -fx-base-color-AnchorPane-modoJuegoJugador;
    /*    -fx-background-radius: 10;*/
}
.AnchorPane-ModoJuegoRivales > ImageView{
    -fx-background-color: -fx-base-color-AnchorPane-modoJuegoRival;
    /*    -fx-background-radius: 10;*/
}
.AnchorPane-Espera{
    -fx-background-color: -fx-base-color-AnchorPane-espera;
    -fx-background-radius: 10;

}
.HBox > ImageView{
    -fx-background-radius: 10;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    border-radius: 3px;
}
.jfx-button-MenuEmp > ImageView{
    -fx-Image :url("../resources/emp.png")
}
.jfx-button-InicioCargando > ImageView{
    -fx-Image :url("../resources/cargando.gif")
}

#vbMenu{
    -fx-background-color: -fx-base-color-apMenuP;
    -fx-opacity : 0.9;
}
.AnchorPane{
    -fx-background-color: -fx-base-color-AnchorPane;
    -fx-opacity : 0.9;
    -fx-background-radius: 20;
}
.Label{
    -fx-text-fill: -fx-base-color-Label;
    -fx-font-size: 20px;
}
.JFXTextField{
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-base-color-focus-text-field;
    -jfx-unfocus-color: -fx-base-color-unfocus-text-field;
    -fx-background-color: -fx-base-color-text-fill ;
}
#drwMenu{
    -fx-opacity: 0.8;
}
.jfx-CheckBox{
    -jfx-checked-color: -fx-base-color-focus-checkbox;/*color del check box cuando se elige*/
    -fx-text-fill: -fx-base-color-text-checkbox;
    -jfx-unchecked-color: -fx-base-color-text-checkbox;
}
